
.auth-container {
    background-image: url(./doglog.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.auth-form {
    background-color: rgba(255, 255, 255, 0.278);
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Animation */
    opacity: 0;
    animation: slideIn 0.8s ease forwards;
}

/* Keyframes for sliding from left to center */
@keyframes slideIn {
    from {
        transform: translate(-150%, -50%); /* Start far left */
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%); /* End at center */
        opacity: 1;
    }
}


.auth-form h2 {
    margin-bottom: 20px;
    color: #333333;
    font-weight: 600;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container input {
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.auth-container input:focus {
    border-color: #6a82fb;
}

.auth-container button {
    padding: 12px 15px;
    background: #6a6a6b;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.auth-container button:hover {
    background: #373737;
}

.auth-container p {
    margin-top: 15px;
    color: #555555;
    font-size: 14px;
}
